:host{
  display: block;
  height: 60px;
  width: 100px;
  position: absolute;
  right: 170px;
  top: 2px;
  cursor:pointer;
}
.counter {
  background-color: lightgreen;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.counter>span{
  line-height: 30px;
}