:host{
 width:50%;
 display:block;
 margin: 15% auto;
 }

mat-card mat-card-header{
  display: block;
}
.mat-card-image {
  margin: 0 -24px ;
}
mat-card-actions {
  background-color: white;
  margin: -3px -24px 0 -24px;
  padding: 10px 10px 20px;
  height: 45px;
}
